<ngx-carousel
        [inputs]="carouselOne"
        (carouselLoad)="myfunc($event)">
    <ngx-item NgxCarouselItem>
        <a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/290019216_Qualifications-Dashboard-Student"
           target="_blank">
            <img class="image-1" src="https://knowclive.github.io/dashboard/assets/img/results/quals-doughnut.png" alt="">
            <h4>How much is each assessment worth?</h4>
        </a>
    </ngx-item>
    <ngx-item NgxCarouselItem>
        <a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/290019216_Qualifications-Dashboard-Student"
           target="_blank">
            <img class="image-2" src="https://knowclive.github.io/dashboard/assets/img/results/Pound-coins-close-up.jpg" alt="">
            <h4>Elements of Costing results are ready</h4>
        </a>
    </ngx-item>
    <ngx-item NgxCarouselItem>
        <a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/290019216_Qualifications-Dashboard-Student"
           target="_blank">
            <img src="https://knowclive.github.io/dashboard/assets/img/results/ring.svg" alt="">
            <!--<img src="https://knowclive.github.io/dashboard/assets/img/results/ring.svg" alt="">-->
            <h4>Congratulations! You passed Bookkeeping Controls</h4>
        </a>
    </ngx-item>
    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
