@import '../../../sass/all';

:host {
  background: $black;
  color: $white;
  position: fixed;
  right: auto;
  top: 0;
  left: 0; //makes the menu left or right positioned
  bottom: 0;
  width: 20%;
  min-width: 250px;
  z-index: 9999;
  padding: $padding-base 0 0 0;

  .mobile-menu__branding {
    padding-bottom: $padding-medium;
  }

  ul {
    li {
      padding: $padding-base 0 $padding-base 10px;

      i {
        font-size: 24px;
        padding-right: $padding-base;
      }
    }

    .active-mobile {
      border-left: 5px solid $brand-primary;

      i {
      }
    }
  }
}