<div class="mobile-menu__branding">
    <img alt="AAT Home" height="30" src="https://www.aat.org.uk/assets/img/svg/aat_logo.svg"
         title="AAT Home" width="69">
</div>

<ul>
    <li class="active-mobile"><i class="fas fa-home"></i>MyAAT</li>
    <li><i class="far fa-clipboard"></i>Training and assessment</li>
    <li><i class="far fa-life-ring"></i>Professional zone</li>
    <li><i class="fas fa-suitcase"></i>My career</li>
    <li><i class="fas fa-users"></i>Support resources</li>
    <li><i class="fas fa-id-card"></i>My membership</li>
    <li><i class="far fa-newspaper"></i>News and events</li>
</ul>