@import '../../../sass/all';

.card-mini {
  border: 1px solid $ui-grey-2;
  overflow: hidden;
  margin-bottom: $margin-base;
  padding-left: 0;
  padding-right: 0;

  &__text {
    display: inline-block;
    width: 60%;
    padding: 10px 0 0 10px;

    p {
      //display: inline-block;
      //padding: 10px;
      //width: 50%;
    }
  }

  img {
    float: right;
  }

  //Breakpoint
  @include breakpoint (fromMedium) {

  }
}