<!--<a class="edit-link" href="#">Edit</a>-->

<h3>{{ studysupport.heading }}</h3>

<p>{{ studysupport.summary }}</p>

<div class="row">
    <div class="col-md-6">
        <!--<ul>-->
        <!--<li *ngFor="let support of supportContent" class="card-mini">-->
        <!--<p>{{ support.title }}</p>-->
        <!--<img [src]="support.imageUrl"  alt="">-->
        <!--</li>-->
        <!--</ul>-->
        <ul>
            <li class="card-mini col-md-12 col-xs-12"><a
                    href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291510557_Find-Out-About-CPD"
                    target="_blank">
                <span class="card-mini__text">
                <p>
                {{ studysupport.card1.title }}
                </p>
                </span>
                <img [src]="studysupport.card1.imageUrl" alt=""></a>
            </li>
            <li class="card-mini col-md-12 col-xs-12">
                <a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291510563_Update-CPD-Record" target="_blank">
                <span class="card-mini__text">
                <p>{{ studysupport.card2.title }}</p>
                </span>
                    <img
                    [src]="studysupport.card2.imageUrl" alt=""></a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li class="card-mini col-md-12 col-xs-12">
                <a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291510559_Knowledge-Hub-Articles" target="_blank">
                <span class="card-mini__text">
                <p>{{ studysupport.card3.title }}</p>
                </span>
                    <img
                    [src]="studysupport.card3.imageUrl" alt="">
                </a>
            </li>
            <li class="card-mini col-md-12 col-xs-12"><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291510560_Latest-CPD-Resource-Link" target="_blank">
                <span class="card-mini__text">
                <p>{{ studysupport.card4.title }}</p>
                </span>
                    <img
                    [src]="studysupport.card4.imageUrl" alt=""></a>
            </li>
        </ul>
    </div>
</div>
