<!--<a class="edit-link" href="#">See more</a>-->

<h3>{{ mycareer.heading }}</h3>

<p>{{ mycareer.summary }}</p>

<div class="row">

  <div class="col-md-12">
    <p><b>Local branch:</b><a href="/dashboard-member"> London</a></p>
    <p><b>Contact:</b><a href="mailto:london@aatbranch.org.uk" target="_blank"> london@aatbranch.org.uk</a></p>
  </div>

  <div class="col-md-6">
    <ul>
      <li><a href="/dashboard-member">{{ mycareer.link1.title }}</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li><a href="/dashboard-member">{{ mycareer.link3.title }}</a></li>
    </ul>
  </div>
</div>