<!--<a class="edit-link" href="#">See more</a>-->

<h3>{{ mycareer.heading }}</h3>

<p>{{ mycareer.summary }}</p>

<div class="row">
  <div class="col-md-6">
    <ul>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/290019209_Search-For-UK-Jobs-Student" target="_blank">{{ mycareer.link1.title }}</a></li>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/290019211_Build-My-CV-Online-Student" target="_blank">{{ mycareer.link2.title }}</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/290019213_Career-Support" target="_blank">{{ mycareer.link3.title }}</a></li>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/290019205_Record-Work-Experience-Student" target="_blank">{{ mycareer.link4.title }}</a></li>
    </ul>
  </div>
</div>