<div class="card-head">
  <h3>Events</h3>
</div>
<div class="card-img">
  <a href="https://www.aat.org.uk/aat-events/branch-events/west-london-branch-time-management-agm" target="_blank">
    <img src="https://knowclive.github.io/dashboard/assets/img/events.png" alt="">
    <span class="tag tag-success">Free</span>
  </a>
</div>
<div class="card-foot">
  <a href="https://www.aat.org.uk/aat-events/branch-events/west-london-branch-time-management-agm" target="_blank">
    <h4>Time Management & AGM</h4>
  </a>
  <span class="small-text">9 May 2018</span>
</div>

<div class="card-list">
  <div class="card-list__item">
    <!--<div class="card-list__item-img">-->
      <!--<img src="https://knowclive.github.io/dashboard/assets/img/event-tb1.png" alt="">-->
    <!--</div>-->
    <div class="card-list__item-text">
      <a href="https://www.aat.org.uk/aat-events/branch-events/north-west-london-branch-cross-border-transactions-vat-pitfalls-and" target="_blank">
        Cross border transactions : Vat pitfalls and opportunities</a>
      <span class="small-text">16 May 2018</span>
    </div>
  </div>

  <div class="card-list__item">
    <!--<div class="card-list__item-img">-->
      <!--<img src="https://knowclive.github.io/dashboard/assets/img/event-tb2.png" alt="">-->
    <!--</div>-->
    <div class="card-list__item-text">
      <a href="https://www.aat.org.uk/aat-events/branch-events/london-branch-general-data-protection-regulation-gdpr" target="_blank">
        General Data Protection Regulation (GDPR)</a>
      <span class="small-text">17 May 2018</span>
    </div>
  </div>

</div>
