<!--<a class="edit-link" href="#">Edit</a>-->

<h3>{{ adminresults.title }}</h3>

<p>{{ adminresults.summary }}</p>

<div class="row">
    <div class="col-md-7">
        <dashboard-resultscarousel></dashboard-resultscarousel>
    </div>
    <div class="col-md-5">
        <ul>
            <li><a href="/dashboard-member">Qualification dashboard</a></li>
            <li><a href="/dashboard-member">Your assessment results</a></li>
            <li><a href="/dashboard-member">Statement of achievement</a></li>
            <li><a href="/dashboard-member">Grade calculator</a></li>
            <li><a href="/dashboard-member">Find an assessment venue</a></li>
        </ul>
    </div>
</div>
