<!--<a class="edit-link" href="#">Edit</a>-->

<h3>{{ adminresults.title }}</h3>

<p>{{ adminresults.summary }}</p>

<div class="row">
    <div class="col-md-7">
        <dashboard-resultscarousel></dashboard-resultscarousel>
    </div>
    <div class="col-md-5">
        <ul>
            <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/290019216_Qualifications-Dashboard-Student" target="_blank">Qualification dashboard</a></li>
            <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/290019207_Your-Assessment-Results-Student" target="_blank">Your assessment results</a></li>
            <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/290019208_Statement-Of-Achievement-Student" target="_blank">Statement of achievement</a></li>
            <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/290019214_Grade-Calculator-Student" target="_blank">Grade calculator</a></li>
            <li><a href="https://www.aat.org.uk/assessment-venues/search" target="_blank">Find an assessment venue</a></li>
        </ul>
    </div>
</div>
