<div class="card-head">
    <h3>News and updates</h3>
</div>
<div class="card-img">
    <a href="https://www.aat.org.uk/aat-news/new-phase-for-mtd-as-it-opens-up-income-tax-pilot" target="_blank">
        <img src="https://knowclive.github.io/dashboard/assets/img/Brian-Palmer.jpg" alt="">
        <span class="tag tag-success">Salaries</span>
    </a>
</div>
<div class="card-foot">
    <a href="https://www.aat.org.uk/aat-news/new-phase-for-mtd-as-it-opens-up-income-tax-pilot" target="_blank">
    <h4>New phase for MTD as it opens up income tax pilot</h4>
    </a>
    <span class="small-text">28 Mar 2018</span>
</div>

<div class="card-list">
    <div class="card-list__item">
        <div class="card-list__item-img">
            <img src="https://knowclive.github.io/dashboard/assets/img/HMRC.jpg" alt="">
        </div>
        <div class="card-list__item-text">
            <a href="https://www.aat.org.uk/aat-news/mps-clearer-tax-strategy-and-additional-hmrc-investment-needed" target="_blank">
                MPs: Clearer tax strategy and additional HMRC investment needed</a>
            <span class="small-text">21 Mar 2018</span>
        </div>
    </div>

    <div class="card-list__item">
        <div class="card-list__item-img">
            <img src="https://knowclive.github.io/dashboard/assets/img/man-at-desk.jpg" alt="">
        </div>
        <div class="card-list__item-text">
            <a href="https://www.aat.org.uk/aat-news/aat-flexible-working-solutions-key-to-tackling-sharing-parental-responsibilities" target="_blank">
                AAT: Flexible working solutions key to tackling sharing parental responsibilities</a>
            <span class="small-text">15 Mar 2018</span>
        </div>
    </div>

</div>
