<div class="card-head">
    <h3>News and updates</h3>
</div>
<div class="card-img">
    <a href="/dashboard-member">
        <img src="https://knowclive.github.io/dashboard/assets/img/Brian-Palmer.jpg" alt="">
        <span class="tag tag-success">Salaries</span>
    </a>
</div>
<div class="card-foot">
    <a href="/dashboard-member">
    <h4>HRMC Update</h4>
    </a>
    <span class="small-text">19 Mar 2018</span>
</div>

<div class="card-list">
    <div class="card-list__item">
        <div class="card-list__item-img">
            <img src="https://knowclive.github.io/dashboard/assets/img/HMRC.jpg" alt="">
        </div>
        <div class="card-list__item-text">
            <a href="/dashboard-member">
                Quarterly Tax update</a>
            <span class="small-text">21 Mar 2018</span>
        </div>
    </div>

    <div class="card-list__item">
        <div class="card-list__item-img">
            <img src="https://knowclive.github.io/dashboard/assets/img/man-at-desk.jpg" alt="">
        </div>
        <div class="card-list__item-text">
            <a href="/dashboard-member">
                Pension and Finance Issues update</a>
            <span class="small-text">Spring 2018</span>
        </div>
    </div>

</div>
