<h3>Support</h3>

<p>Got a question or need some help? Connect with other AAT members.</p>

<div class="row">

  <div class="col-md-6">
    <ul>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291510553_Access-Career-Support" target="_blank">Access career support resources</a></li>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291510558_Get-Technical-And-Ethical-Advice" target="_blank">Complete an Excel e-learning course</a></li>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291510564_View-Technical-Content-In-The-Knowledge-Hub" target="_blank">View technical content in the Knowledge Hub</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291510558_Get-Technical-And-Ethical-Advice" target="_blank">Get technical and ethical advice</a></li>
      <li><a href="https://aat.invisionapp.com/share/WTGQWMW4GMR#/291510555_Browse-CPD-E-Learning-Topics" target="_blank">Browse CPD e-learning topics</a></li>
      <li><a href="https://forums.aat.org.uk/Forum/categories/for-accounting-professionals" target="_blank">Ask a question in the member forums</a></li>
    </ul>
  </div>
</div>