<h3>Support</h3>

<p>Got a question or need some help? Connect with other AAT members.</p>

<div class="row">

  <div class="col-md-6">
    <ul>
      <li><a href="/dashboard-member">Access career support resources</a></li>
      <li><a href="/dashboard-member">Complete an Excel e-learning course</a></li>
      <li><a href="/dashboard-member">View technical content in the Knowledge Hub</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li><a href="/dashboard-member">Get technical and ethical advice</a></li>
      <li><a href="/dashboard-member">Browse CPD e-learning topics</a></li>
      <li><a href="/dashboard-member">Ask a question in the member forums</a></li>
    </ul>
  </div>
</div>